@{
  Layout = "_Layout";
  }

<h1>Current Used Cars Available</h1>

  @foreach(var Car in Model)
  {
    <div class="well">
      <ul>
      <li>Model: @Car.GetMakeModel()</li>
      <li>Year: @Car.GetYear()</li>
      <li>Price: @Car.GetPrice()</li>
      <li>mileage: @Car.GetMileage()</li>
      </ul>
    </div>
  }

<p><a href="/">Go back to main page</a></p>
<form action="/car/list/clear" method="post">
  <button type="submit" name="button">Clear the Lot</button>
</form>
