@{
  Layout = "_Layout";
  }
<h1>You've added a new car listing!</h1>
<ul>
<li>Model: @Model.GetMakeModel()</li>
<li>Year: @Model.GetYear()</li>
<li>Price: $ @Model.GetPrice()</li>
<li>mileage: @Model.GetMileage()</li>
</ul>
<p><a href="/">Add another car</a></p>
<p><a href="/CarLotList">View current used cars</a></p>
