<h1>Used Car Dealership</h1>
<h2>Add a used car to the lot:</h2>
<form action="/car/create" method="post">
  <label for="new-makemodel">Enter the make model:</label>
  <input id="new-makemodel" name="new-makemodel" type="text">
  <label for="new-year">Enter the year:</label>
  <input id="new-year" name="new-year" type="number">
  <label for="new-miles">Enter the miles:</label>
  <input id="new-miles" name="new-miles" type="number">
  <label for="new-mileage">Enter the mileage:</label>
  <input id="new-mileage" name="new-mileage" type="number">
  <button type="submit">Submit</button>
</form>
